.lotteryPageWrap {
  :global {
    width: 375px;
    height: 603px;

    .headPic {
      position: absolute;
      top: 0;
      margin-top: 35px;
      margin-left: 36px;
    }
    .activityTime {
      position: absolute;
      top: 0;
      margin-top: 156px;
      margin-left: 27px;
      text-align: center;
    }
    .activityTimeNoLimit {
      position: absolute;
      top: 0;
      margin-top: 156px;
      margin-left: 137px;
      text-align: center;
    }

    .turntableWrap {
      position: absolute;
      top: 0;
      margin-top: 178px;
      margin-left: 36px;
    }

    .remainTimesWrap {
      position: absolute;
      top: 0;
      margin-top: 480px;
      margin-left: 120px;
    }

    .prizeButton {
      position: absolute;
      top: 0;
      margin-top: 510px;
      margin-left: 60px;
    }

    .ruleButton {
      position: absolute;
      top: 0;
      margin-top: 510px;
      margin-left: 210px;
    }

    .rollingContainer {
      position: absolute;
      top: 0;
      margin-top: 563px;
      margin-left: 54px;
      text-align: center;
    }

    .contactInfoWrap {
      position: absolute;
      top: 0;
      margin-top: 596px;
      margin-left: 100px;
      text-align: center;
    }
  }
}
