.lotteryPageWrap {
  :global {
    width: 422px;

    .activityTime {
      position: absolute;
      top: 0;
      margin-top: 210px;
    }
    .activityTimeNoLimit {
      position: absolute;
      top: 0;
      margin-top: 210px;
    }

    .turntableWrap {
      position: absolute;
      top: 0;
      margin-top: 228px;
    }

    .remainTimesWrap {
      position: absolute;
      top: 0;
      margin-top: 530px;
    }

    .prizeButton {
      position: absolute;
      top: 0;
      margin-top: 562px;
      margin-left: 78px;
    }

    .ruleButton {
      position: absolute;
      top: 0;
      margin-top: 562px;
      margin-left: 234px;
    }

    .rollingContainerEditor {
      position: absolute;
      top: 0;
      margin-top: 616px;
      color: white;
      text-shadow: grey 0.1em 0.1em 0.2em;
    }
    .rollingContainer {
      position: absolute;
      top: 0;
      margin-top: 605px;
    }

    .contactInfoWrap {
      position: absolute;
      top: 0;
      margin-top: -142px;
      text-align: center;
    }
  }
}
