.turntableWrap {
  position: relative;
  width: 300px;
  height: 300px;
  // border: 2px solid red;

  :global {
    #turnTableCircle {
      position: absolute;
      top: 10%;
      left: 10%;
      // border-radius: 50%;
      z-index: 1000;
      border: 1px solid transparent;
      // transform: rotate(20deg)
    }
    .turntableImg {
      width: 300px;
      height: 300px;
    }
    .point {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      width: 60px;
      -ms-transform: translateX(-50%, -60%);
      -moz-transform: translateX(-50%, -60%);
      -webkit-transform: translateX(-50%, -60%);
      -o-transform: translateX(-50%, -60%);
      transform: translate(-50%, -60%);
      cursor: pointer;
      // border: 2px solid red;
    }
  }
}

.turntableEditorWrap {
  position: relative;
  width: 300px;
  height: 300px;
  // border: 2px solid red;

  :global {
    #turnTableCircle {
      position: absolute;
      top: 10%;
      left: 10%;
      // border-radius: 50%;
      z-index: 1000;
      border: 1px solid transparent;
      // transform: rotate(20deg)
    }
    .turntableImg {
      width: 300px;
      height: 300px;
    }
    .point {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1000;
      width: 60px;
      -ms-transform: translateX(-50%, -60%);
      -moz-transform: translateX(-50%, -60%);
      -webkit-transform: translateX(-50%, -60%);
      -o-transform: translateX(-50%, -60%);
      transform: translate(-50%, -60%);
      cursor: pointer;
      // border: 2px solid red;
    }
  }
}
