.assistance{
@media all {.cbsect_b547f460{padding-bottom: 100px; padding-top:  100px; background-color:  rgba(0, 0, 0, 0); }
.cbdiv_304187f5{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_eecf3492{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_49b93207{height:  100%; color: rgb(255, 255, 255); background-color:  rgb(255, 255, 255); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.6; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.cbcont_422f26d3{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); min-height: 20px; }
.cbdiv_5ea0c231{min-height: 275px; display:  flex; margin-top:  0px; margin-bottom:  0px; }
.cbdiv_1c7d9f41{flex-direction:  column; display:  flex; flex:  1 1 0%; align-items: center; }
.cbdiv_d014f572{padding:  2vw; color: #434343; text-align:  center; width:  65%; }
.cbimag_493be3f3{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_8c25972c{min-height: 20px; }
.cbhead_465d55fb{line-height:  1.3em; margin-top:  0px; font-family:  Roboto; margin-bottom:  5px; font-size:  80px; font-weight: lighter; }
.cbhead_d2341174{line-height:  1.3em; margin-top:  0px; font-family: Roboto; padding-left:  2px; padding-right:  2px; }
.cbpara_cafcce31{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_920a9e44{min-height: 20px; }
.cbbsbu_99a21c7a{min-width: 100px; margin-top: 10px; margin-bottom: 5px; }
.cbdiv_cb23500b{min-height:  20px; margin-top:  10px; }
.cbicon_fd303e67{margin-right:  8px; font-size: 16px; }
.cbtext_8edc7665{color: inherit; }
.body_zv6Hbj{background-color: rgba(237,237,237,1); }
.plugin-wrap{width:  375px; margin:  20px; display:  inline-block; vertical-align:  top; position: relative; }
.P_W2DjxK{text-align: center; }
.plugin-body{background-color: rgba(250,215,117,1); width:  375px; height: 100%; overflow-y:  scroll; position:  relative; color:  rgb(206, 51, 33);}
.DIV_tzilQM{padding:  15px; }
.DIV_5eZtqX{min-height:  30px; background-color:  rgba(255, 255, 255, 0.9); border-radius:  4px; margin-bottom: 10px; }
.DIV_uOIS6L{min-height:  20px; display:  flex; justify-content:  center; align-items:  center; padding-top:  10px; font-size: 13px; }
.P_Pjxaj3{display:  inline-block; padding:  3px 2px; text-align:  center; line-height:  1em; min-width:  20px; border-style:  solid; border-width:  1px; border-color:  currentcolor; border-radius:  2px; margin: 0px 5px 10px!important;}
.UL_hzfSXG{padding-left:  0px; list-style-type: none; margin: 0px!important ;}
.DIV_QOQc8O{width:  100px; height:  100px;   margin-right: 15px; }
.LI_735Cot{padding:  15px; display:  flex; align-items:  center; position:  relative; min-height: 20px; }
.P_jSOUJu{color:  rgb(0, 0, 0); margin-bottom: 5px; }
.DIV_WF5y9X{flex:  1 1 0%; color:  rgb(104, 104, 104); position: relative; }
.P_75CUYE{margin-bottom:  5px; font-size: 13px; }
.P_75CUYE2{margin-bottom:  5px; }
.I_xcL2TZ{font-size: 20px; }
.A_SCR5Bk{position:  absolute; bottom: 0; right: 0; top: 0; left: 0; }
.cs-o-list li + li{border-top: 1px solid #E1E1E1; }
.DIV_sVS1zF{min-height:  36px; padding-left:  15px; display:  flex; align-items:  center; border-bottom:  1px solid rgb(225, 225, 225); }
.P_PedtjQ{margin-bottom:  0px!important; margin-left: 10px!important; }
.DIV_PJeoHZ{padding:  15px; min-height: 20px; color:#222222}
.P_0ayvQw{line-height:  1.5em; margin-bottom:  0px; font-size:  13px; text-align:  justify; color: #3b3b3b; }
.P_3D7UNz{color: #424242; margin-bottom: 10px!important;}
.UL_MsgSVz{padding-left:  0px; list-style-type:  none; min-height:  20px; margin: 0px; }
.LI_hGMbQo{min-height:  25px; display:  flex; align-items:  center; color:  rgb(40, 40, 40); font-size: 13px; }
.DIV_QOQc8O2{width:  140px; height: 140px; margin-right:  15px; }
.A_54k3OP{display: flex; min-height: 36px; color: inherit; padding-top: 3px; padding-bottom: 3px; text-align: center; justify-content: center; align-items: center; border-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border-top-left-radius: 4px; background-color: currentColor; color: #c63418!important;}
.P_j3Tuu5{color:  rgb(255, 255, 255); margin-bottom: 0px; }
.LI_735Cot2{padding:  15px 15px 0px; display:  flex; align-items:  center; position:  relative; min-height:  0px; flex-wrap:  wrap; padding-top: 15px; }
.DIV_X5B0Gy{min-height:  10px; display:  flex; justify-content:  space-between; font-size:  13px; color:  rgb(89, 86, 86); padding-top: 4px; }
.DIV_yIKrnU{width:  30px; height:  30px; margin-right:  10px; border-radius:  4px; display:  block; flex:  0 1 auto; margin-top:  2px; margin-bottom: 2px; }
.TABLE_mReX08{color:  rgb(63, 63, 63); font-size:  13px; margin-bottom: 0px; border:none!important; th,td{border: none!important;} thead:first-child>tr:first-child>th{border-bottom: 2px solid #ddd!important;} tbody>tr>th,tbody>tr>td{border-top: 1px solid #ddd!important;}}
.SPAN_pItcrQ{display: block; }
.TR_4Sk8Ik{vertical-align: middle !important; }
.table-m td, .table-m th{vertical-align: middle !important; padding: 4px !important; }
.bottom-border{border-bottom: 1px solid #E1E1E1;}
.A_54k3OP2{display: flex; min-height: 36px; color: inherit; padding-top: 3px; padding-bottom: 3px; text-align: center; justify-content: center; align-items: center; border-radius: 4px; border: 1px solid currentColor; }
.P_j3Tuu52{margin-bottom:  0px; }
.btn-wrap .btn + .btn{margin-top: 15px;}
.LI_735Cot3{padding:  10px 15px; display:  flex; align-items:  center; position:  relative; min-height:  20px; flex-wrap: wrap; }
.P_75CUYE4{font-size:  13px; color:  rgb(41, 41, 41); margin-bottom: 0px; }
.DIV_R5WrBr{background-color: rgba(10,10,10,0.8); position:  absolute; bottom:  0px; right:  0px; top:  0px; left:  0px; display:  flex; justify-content:  center; align-items:  center; color:#c63418;}
.DIV_5eZtqX2{min-height:  30px; background-color:  rgba(255, 255, 255, 0.9); border-radius:  4px; margin-bottom:  10px; width:  300px; position: relative; }
.DIV_bEvLxo{padding:  15px 15px 5px; padding-bottom: 5px; }
.DIV_21lTlq{position:  relative; color: #c63418!important; }
.A_0QSz5t{display:  flex; justify-content:  center; align-items:  center; color:  rgb(255, 255, 255); min-width:  0px; min-height:  0px; width:  40px; height:  40px; line-height:  1em; font-size:  20px; border-radius:  40px; border-style:  solid; border-width:  1px; bottom:  0px; }
.DIV_1oQBRM{position:  absolute; bottom: -72px; left:  0px; right:  0px; min-height:  0px; display:  flex; justify-content:  center; flex-direction:  column; align-items:  center; }
.DIV_C5SD6H{background-color:  rgb(255, 255, 255); min-height:  30px; width: 1px; }
.A_nYZHMU{min-width:  30px; min-height:  30px; position:  absolute; top:  15px; left:  15px; border-radius:  30px; background-color:  rgba(0, 0, 0, 0.5); display:  flex; justify-content:  center; align-items:  center; color:  rgb(255, 255, 255); font-size: 16px; }
.DIV_bEvLxo2{padding:  15px 15px 5px; min-height:  50px; text-align:  center; font-size: 15px; }
.IMG_W475jw{position:  absolute; right:  0px; top:  0px; margin-top:  12px; margin-right:  11px; width:  130px; }
.A_54k3OP:focus{color: inherit; }
.A_54k3OP2:focus{color: inherit; }
.A_0QSz5t:focus{color: rgb(255, 255, 255); }
.A_nYZHMU:focus{color: #ffffff; }
.A_54k3OP:hover{color: inherit; }
.A_54k3OP2:hover{color: inherit; }
.A_0QSz5t:hover{color: #ffffff; }
.A_nYZHMU:hover{color: #ffffff; }
.cbdiv_d014f572::before{position: relative; }
.ant-spin-spinning{margin:50%;position:relative;left:-31px;top: 100px;}
} 
@media (max-width: 991px) {.cbdiv_d014f572{width:  95%; Width: 100%; }
} 
@media (max-width: 767px) {.cbdiv_1c7d9f41{width: 320px; }
.cbdiv_d014f572{width:  95%; Width: 100%; }
.cbhead_465d55fb{width:  95%; Width: 100%; }
.cbpara_cafcce31{width:  95%; Width: 100%; }
.cbbsbu_99a21c7a{margin-bottom: 10px; }
} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 
}