.bgImg {
  :global {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    width: 422px;
    height: 748px;
    overflow: hidden;
    .bgPic {
      max-width: 422px;
    }
  }
}

.activityTime {
  :global {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    color: white;
    font-size: 12px;
    text-shadow: grey 0.1em 0.1em 0.2em;
  }
}

.remainTime {
  :global {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    color: white;
    font-size: 12px;
    text-shadow: grey 0.1em 0.1em 0.2em;
  }
}

.rollList {
  :global {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    .rollingContainer {
      width: 280px;
      height: 19px;
    }
  }
}

.contactInfo {
  :global {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 422px;
    color: white;
    font-size: 12px;
    text-shadow: grey 0.1em 0.1em 0.2em;
    transform: scale(0.7);
    .contactInfoWrap {
      width: 422px;
    }
  }
}

.myPrize {
  :global {
    .prizeButton {
      width: 110px;
      cursor: pointer;
    }
  }
}

.myPrizeContent {
  :global {
    max-height: 200px;
    overflow: auto;
  }
}

.rulesButton {
  :global {
    .ruleButton {
      width: 110px;
      cursor: pointer;
    }
  }
}

:global {
  .activityTimeModal {
    height: 100px;
    text-align: center;
  }
}
